API_AUTH_URL=http://localhost:8080/api/customerportal/auth/login
API_USERNAME=tron@swiftparcel.com
API_PASSWORD=Test2016
API_BASE_URL=http://localhost:8080/api/customerportal/
API_TOKEN_PATH=token
UI_LOGIN_URL=https://app.example.com/login
UI_USERNAME=example.user@example.com
UI_PASSWORD=ExamplePassword123!
UI_MAIN_URL_PATTERN=/dashboard
